body {
  background-color: #E5F3F4;
  font-family: Arial, sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

h1 {
  color: #37BECC;
  border-bottom: 2px solid #777777;
  padding: 10px;
  font-size: 5rem;
}

p {
  color: #777777;
  font-weight: bold;
  padding: 20px;
  font-size: 1.5rem;
}

img {
  width: 15rem;
  height: 9rem;
}
